:root {
--primary-text-color:#757575;
--title-text-color:#212121;
--accent-color:#2196F3;
--additional-color: #FFFFFF;
--background-color-hero: #2F303A;
--background-color-team:#F5F4FA;}

body {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;}

*,
*::before,
*::after {
    box-sizing: border-box;}
   
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;}
    
 /* Класс для обнуления базовых свойств у списков (ul) */
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
    
/* Класс для обнуления базовых свойств у ссылок */
.link {
    text-decoration: none;
    color: inherit;
}
    
/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;}
    
/* Свойства для обнуления курсива у address */
address {
    font-style: normal;
     /* or */
    font-style: inherit;}

ul {list-style: none;
    padding: 0;
    margin: 0;}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Секція Хедер */
header {
border-bottom: 1px solid #ECECEC
}
.page-header {
    background-color: var(--additional-color);
    align-items: center;
}
.link:hover,
.link:focus {color: var(--accent-color);}

.main-nav {
    display: flex;
    align-items: center;}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    display: inline-block;}

.logo-header {
        color: var(--title-text-color);}
        
.header-list>.item:nth-child(n + 2) {
     margin-left: 50px;}

.header-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    padding-top: 32px;
    margin-left: 94px;
    padding-bottom: 32px;}

.head:not(:last-child) {
    margin-right: 50px;
    padding: 0;
    display: flex;}

.current {
    text-decoration: none;
    color: var(--accent-color);}
.link {
    text-decoration: none;
    color: var(--title-text-color);}

.auht-nav {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    margin-left: auto;}

/* Секція Герой */
.section-hero {
    background-color: var(--background-color-hero);
    padding-bottom: 200px;
    padding-top: 200px;
}
.hero {
    color: var(--additional-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.hero-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    background: var(--accent-color);
    color: var(--additional-color);
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    }


/* Секція особливості */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.list {
    display: flex;
}

.feature {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 30px;
    margin-bottom: 10px;
    margin: 0;
    padding-bottom: 10px;
}

.list-box {
    margin-right: 30px; 
}

.feature-list {
    color: var(--primary-text-color);
    line-height: 1.7;
} 

/* Секція Чим ми займаємося */
.about,
.team {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.team {
    padding-bottom: 94px;
    background-color: var(--background-color-team);
}
.about-us {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    margin: 0;
    }
.list-work { 
    padding: 0;
    display: flex;
    margin-right: 30px;
    }

/* Наша команда */
.team-img {
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.name {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 0;
    background-color: var(--additional-color);
}
.job {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.18;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: var(--additional-color);
}
/* Наші роботи, portfolio */
.button-nav {
    margin-left: 8px;
    text-align: center;
}

.button-success {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: transparent;
    text-decoration: none; 
    margin-bottom: 50px;
    padding: 6px 22px;
   
}

.button-success:hover,
.button-success:focus {   
    color: var(--additional-color);
    background-color: var(--accent-color); }

.button-success.all {
    color: var(--additional-color);
    background-color: var(--accent-color);
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
   
.card:nth-child(-n + 6) {
    margin-bottom: 30px;
}
.card {
    width: 370px;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 30px;
}
.card-skills {
    margin: 4px;
    padding: 20px 24px;
}

.skills {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px px;
    margin-right: auto;
}
.group {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.8;
}
.footer {
    background-color: var(--background-color-hero);
    padding-top: 60px;
    padding-bottom: 60px;
}
.contact {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
    margin-top: 20px;
}
.contact-list {
    color: var(--additional-color);
    text-decoration: none;}

.item {
    margin: 9px;
    }

.logo-footer {
    color: var(--additional-color);
}
